
<%@tag description="put the tag description here" pageEncoding="UTF-8"%>
<%@attribute name="pageTitle"%>

<%-- any content can be specified here e.g.: --%>


<!DOCTYPE html>
<html>
    <head>
        <title>${pageTitle} </title>
        <meta http-equiv="Content-Type" contetnt="text/html; charset=UTF-8">
    </head>
    <body> 
        <jsp:doBody/>
    </body>
</html>